
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(230, 230, 230);
}

.name {
    width: 100%;
    background-color: rgb(42 87 154);
    font-size: 16px;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(241 241 241);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    align-items: center;
}

.font-family {
    background-color: white;
    padding: 10px;
}

.font-family button {
    background-color: transparent;
    border: none;
    font-weight: bolder;
}

button {
    background-color: transparent;
    border: none;
    font-weight: bolder;
}

.row div {
    background-color: white;
    padding: 10px;
}

.row .yellow {
    background-color: yellow;
    height: 10px;
    width: 10px;
}

.row .red {
    background-color: red;
    height: 10px;
    width: 10px;
}

.row .blue {
    height: 10px;
    width: 10px;
    background-color: blue;
}

.colors {
    display: flex;
    justify-content: space-around;
}

.row .costume {
    height: 10px;
    width: 10px;
    background-color: gray;
    color: white;
    font-weight: bolder;
}

.row .padding {
    width: 20%;
    text-align: center;
}

.row .border {
    width: 100%;
    text-align: center;
}

.contant {
    width: 100%;
    position: relative;
}

.input {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: white;
}

.input textarea {
    width: 100%;
    margin: 0 auto;
    outline: none;
    height: 600px;
    font-size: 14px;
    padding: 30px;
    background-color: transparent;
    z-index: 1;
}

.width button {
    width: 100%;
}

button {
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease;
}

button:hover {
    background-color: gainsboro;
    border-radius: 30px;
    opacity: 0.5;
    font-weight: bold;
}

.count {
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.count div {
    background-color: rgb(42 87 154);
    margin-bottom: 5px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgb(173, 173, 173);
}

@media screen and (max-width: 1200px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .main {
        flex-direction: column;
    }
    .input{
        width: 100%;
    }
}

.replace {
    padding: 10px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
}

.replace div {
    background-color: rgb(42 87 154);
    margin-bottom: 5px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgb(173, 173, 173);
}
